@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.bubble.css';

.ql-picker:focus, .ql-picker-label:focus{
    outline: none;
}

html {
    scroll-behavior: smooth;
}

.ql-editor .citation {
    background: #deac61;
    font-size: 8px;
    font-style: normal;
    vertical-align: super;
    padding: 2px 3px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}

.ql-editor .citation::after {
    content: attr(data-n);
}